body,
#root {
  width: 100vw;
  background-color: #343d46;
}
h1 {
  font-size: 3.5rem;
  color: #fac863;
}
h2 {
  color: #ec5f67;
}

textarea {
  resize: none;
}

#root,
.todoForm,
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.list {
  overflow-y: scroll;
}
.todoForm > form > *,
.list > p,
#description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  width: 50vw;
  font-size: x-large;
  text-align: center;
}
.todoForm > form > input::placeholder,
.todoForm > form > textarea::placeholder {
  color: #a7adba;
}

.todoForm > form > div > button {
  width: 20%;
  font-size: medium;
  border-radius: 8px;
  background-color: #262c32;
  color: #fac863;
  padding: 10px;
}

.title {
  font-size: medium;
  color: #5fb3b3;
}

.text {
  font-size: medium;
  color: #ab7967;
}
